<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zn.smart.campus.manage.dao.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zn.smart.campus.manage.dao.po.Notice">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="extra" property="extra" />
        <result column="notice_id" property="noticeId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="notice_receive_param" property="noticeReceiveParam" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        create_time,
        modified_time,
        extra,
        notice_id, title, content, type, notice_receive_param, teacher_id
    </sql>

</mapper>
